html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 76% "Noto Sans", sans-serif;
}

p {
  margin: 0 10px 10px;
}

a {
  font: 150%;
  padding: 5px;
  color: #000000;
}

ul li {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 80px;
  text-align: left;
}

#header {
  background-color: #e1e3ff;
}

#header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;
}

#container {
  text-align: left;
}

#content p {
  line-height: 1.4;
}

#container {
  width: 700px;
}

#content {
  width: 500px;
  margin: 30px;
}

ul {
  list-style-type: none;
  padding: 4px;
  margin: 4px;
}

.alert{
  color: #ff0000;
}
